<aside class="aside_admin">

    <article class="card_art">
        <div class="card_art_head">
            <h2>Mon profil </h2>
        </div>
        <div class="card_art_bd">
            <p><a href="#">Mes informations personnnelles</a></p>
            <p><a href="#">Mes adresse</a></p>
            <p><a href="{{ path('app_profile_orders') }}">Mes commandes</a></p>
            <p><a href="{{ path('app_logout') }}">Déconnecter</a></p> 
        </div>
    </article>
    


</aside>