<h1> Bonjour {{user.lastname }} {{user.firstname}}</h1>

<p>Pour réinitialisation de votre passe, veuillez cliquer sur ce lien  <a href="{{url|raw}}">{{ url|raw}}</a> pour se connecter</p>
<p>merci </p>
